%p
  = form.text_field :login, :title => 'Login'
%p
  = form.password_field :password
%p
  = form.label :password, form.object.new_record? ? nil : "Change password"
%p
  = form.password_field :password_confirmation
%p
  = form.label :password_confirmation
%p
  = form.text_field :email, :title => "Email"